[Unit]
Description=CCE Display Manager on %I
After=systemd-user-sessions.service plymouth-quit-active.service
Conflicts=getty@%i.service
Before=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/cce-display-manager
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
UtmpIdentifier=%I
UtmpMode=user
Environment=RUST_LOG=info

[Install]
WantedBy=graphical.target
